@import "../../_globalColor";

.language-switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 26px;
  margin-left: 10px;
}

.language-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.language-slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $toggleSwitchSliderBG;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.language-slider::before {
  position: absolute;
  content: "";
  height: 22px;
  width: 22px;
  left: 2px;
  bottom: 2px;
  background-color: $textColorDark;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  z-index: 1;
}

.language-switch input:checked + .language-slider {
  background-color: $toggleCheck;
}

.language-switch input:focus + .language-slider {
  box-shadow: $toggleCheck;
}

.language-switch input:checked + .language-slider::before,
.language-switch input:checked + .language-slider > .language-label {
  -webkit-transform: translateX(24px);
  -ms-transform: translateX(24px);
  transform: translateX(24px);
}

/* Round sliders */
.language-slider.round {
  border-radius: 34px;
}

.language-slider.round::before {
  border-radius: 50%;
}

.language-label {
  position: absolute;
  color: $titleColor;
  font-size: 9px;
  font-weight: 700;
  letter-spacing: -0.2px;
  top: 2px;
  left: 2px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  width: 22px;
  height: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
  line-height: 1;
}

.language-switch input:checked + .language-slider > .language-label {
  -webkit-transform: translateX(24px);
  -ms-transform: translateX(24px);
  transform: translateX(24px);
}

/* Dark mode adjustments */
.dark-mode .language-slider {
  background-color: $darkBackground;
}

.dark-mode .language-slider::before {
  background-color: $lightBackground1;
}

.dark-mode .language-label {
  color: $titleColor;
}
